.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact {
	position: fixed;
	text-align: center;
	bottom: 0;
}

.cheat {
	position: fixed;
	top: 0;
}